.works
    margin-bottom: 100px
    & .works__row
        max-width: 855px
        display: flex
        align-items: center
        justify-content: flex-start
        & .row__picture
            & img
                margin: 20px 20px 20px 0
        & .row__desc
            display: flex
            flex-direction: column
            & h3
                margin: 0 0 15px 0
                font-family: Heebo, sans-serif
                font-weight: bold
                font-size: 30px
                line-height: 44px
                color: #21243D
            & .subtitle
                margin: 0 0 15px 0
                font-family: Heebo, sans-serif
                font-size: 20px
                line-height: 29px
                color: #8695A4
                & span
                    margin-right: 25px
                    padding: 0 10px
                    background: #142850
                    border-radius: 16px
                    font-family: Heebo, sans-serif
                    font-weight: 900
                    font-size: 18px
                    line-height: 60px
                    color: #FFFFFF
            & .text
                margin: 0
                font-family: Heebo, sans-serif
                font-size: 16px
                line-height: 23px
                color: #21243D
